button, checkbutton {
    color: rgb(55, 91, 143);
    font-size: 15px;
    border: 1px solid rgb(55, 91, 143);
    margin-right: 2px;
    margin-left:2px;

}

button:hover {
  background: #375B8F;
  color: white;
}

entry {
border: 1px solid rgb(55, 91, 143);
margin-top:2px;
margin-bottom:2px;
}
